<div class="ictech-account-carts__combined-bar" hidden data-ictech-combined-bar>
    <div>
        <strong data-ictech-combined-count>0</strong>
        <span>{{ 'ictech-multi-cart.account.combined.selectedSuffix'|trans }}</span>
        <strong data-ictech-combined-total>0.00</strong>
    </div>
    <button type="button" class="ictech-account-carts__btn ictech-account-carts__btn--primary" data-ictech-combined-open>
        {{ 'ictech-multi-cart.account.combined.paySelected'|trans }}
    </button>
</div>
